#table,
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th {
    background-color: var(--marron);
    color: white;
    padding: 10px;
    text-align: left;
    width: 20%;
    height: 50px;
}

.table th a{
    color: white;
}

.datagrid thead .sorted a {
    color: white;
}


#table th{
    background-color: var(--marron);
    color: white;
    padding: 10px;
    text-align: left;
    width: 20%;
    height: 50px;
}



.table td {
    padding: 10px;
    border-bottom: 1px solid var(--marron);
    height: 50px;
}

#table td{
    padding: 10px;
    border-bottom: 1px solid var(--marron);
    height: 50px;
}