{% extends 'base.html.twig' %}

		{% block title %}
			Erreur du serveur
		{% endblock %}

		{% block body %}
			<div class="container content">
				<div class="row justify-content-center align-items-center">
					<div class="col-8 mb-5 text-center">
						<h1 class="mt-5 mb-5">
							Erreur 500 - Erreur du serveur
						</h1>
						<p>
							Une erreur interne s'est produite sur le serveur.
						</p>
						<p>
							{{ message }}
						</p>
						<a href="{{ path('homepage') }}" class="btn btn-primary mt-3">
							Retour à l'accueil
						</a>
					</div>
				</div>
			</div>
		{% endblock %}
