{% extends '@EasyAdmin/layout.html.twig' %}

		{% block content %}
			<div class="container mt-5">
				<div class="alert alert-danger">
					<h1 class="alert-heading">Accès refusé</h1>
					<p>Vous n'avez pas la permission d'accéder à cette page.</p>
				</div>
        {% if role == ['ROLE_ADMIN'] %}
          <a href="{{ path('admin_dashboard') }}" class="btn btn-primary">
            Revenir à votre tableau de bord
          </a>
        {% elseif role == ['ROLE_VETERINAIRE'] %}
          <a href="{{ path('veterinaire_dashboard') }}" class="btn btn-primary">
            Revenir à votre tableau de bord
          </a>
        {% elseif role == ['ROLE_EMPLOYE'] %}
          <a href="{{ path('veterinaire_dashboard') }}" class="btn btn-primary">  
            Revenir à votre tableau de bord
          </a>
        {% else %}
          <a href="{{ path('app_login') }}" class="btn btn-primary">
            Retour à la page de connexion
          </a>
        {% endif %}

			</div>
		{% endblock %}

