#presentation {
    background-color: var(--beige);
}

/* Séparateur */
.custom-shape-divider-bottom-1720924647 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: var(--beige);
}

.custom-shape-divider-bottom-1720924647 svg {
    position: relative;
    display: block;
    width: calc(205% + 1.3px);
    height: 180px;
}

.custom-shape-divider-bottom-1720924647 .shape-fill {
    fill: #FFFFFF;
}

/* Cards */

.card_habitat {
    margin: 20px;
}
.card_habitat .card-header {
    background-color: var(--beige);
    color: var(--vertSombre);
}
.card_habitat .card-body {
    background-color: var(--marronSombre);
    color: var(--vertSombre);
    display: flex;
    justify-content: space-around;
}

.card_habitat img {
    width: auto;
    height: 250px;
    object-fit: cover;
}

.card_service {
    margin: 20px;
}

.card_service .card-body {
    background-color: var(--beige);
    color: var(--vertSombre);
}

.card_animal {
    margin: 20px;
}

.card_animal .card-body {
    background-color: var(--vert2);
    color: var(--maronSombre);
}