/* Page espace habitat */
.content {
    display: block;
    padding: 20px;
    position: relative;
    top: 80px;
    margin-bottom: 100px;
}

.container-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.habitat_nav {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    display: flex;
    position: relative;
}

.habitat_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.habitat_nav ul li {
    margin: 10px;
    text-align: center;
}

.container-link {
    position: relative;
    display: block;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
}

.habitat_nav .select_habitat {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: white;
    /* filter: blur(2px); */
    transition: filter 0.3s;
    padding: 5px;
}

.habitat_nav .container-link {
    /* filter: blur(2px); */
    transition: filter 0.3s;
}

.habitat_nav .container-link.active {
    filter: none;
}

.habitat_nav .container-link.inactive {
    filter: blur(2px);
}

.habitat_section {
    margin-bottom: 40px;
}

.habitat_section img {
    width: 100%;
    height: auto;
}

.animal_card {
    cursor: pointer;
}

.carouselAnimal .carousel-inner {
    
    justify-content: center;
    align-items: center;
}

.carouselAnimal .carousel-item img {
    /* max-height: 300px; */
    object-fit: contain;
}
.rapport-info p {
    margin: 5px 0;
}

.carousel {
    display: flex;
    overflow-x: auto;
}

.carousel img {
    flex: 0 0 auto;
    width: 24%;
    height: auto;
    margin-right: 1%;
}

.carousel img:last-child {
    margin-right: 0;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

@media screen and (min-width: 768px) {
    .container-link {
        width: 350px;
        height: 350px;
    }
    
}