.service_section {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 20px;
}

.service_section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.service_section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.service_section .carousel {
    padding: 30px;
}


