#presentation {
    background-color: var(--beige);
}

/* Séparateur */
.custom-shape-divider-bottom-1720924647 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: var(--beige);
}

.custom-shape-divider-bottom-1720924647 svg {
    position: relative;
    display: block;
    width: calc(205% + 1.3px);
    height: 180px;
}

.custom-shape-divider-bottom-1720924647 .shape-fill {
    fill: #FFFFFF;
}

/* Cards */

.card_habitat {
    margin: 20px;
}
.card_habitat .card-header {
    background-color: var(--beige);
    color: var(--vertSombre);
}
.card_habitat .card-body {
    background-color: var(--marronSombre);
    color: var(--vertSombre);
    display: flex;
    justify-content: space-around;
}

.card_habitat img {
    width: auto;
    height: 250px;
    object-fit: cover;
}

.card_service {
    margin: 20px;
}

.card_service .card-body {
    background-color: var(--beige);
    color: var(--vertSombre);
}

.card_animal {
    margin: 20px;
}

.card_animal .card-body {
    background-color: var(--vert2);
    color: var(--maronSombre);
}

/***** Avis *****/ 

#avis {
    background-color: #f9f9f9;
    padding: 60px 0;
}

#avis h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
    color: var(--marron_foncé);
}

.card_avis {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.card_avis .card-body {
    padding: 20px;
}

.card_avis .stars {
    font-size: 1.5rem;
    color: #FFD700; /* Gold color for stars */
}

.card_avis .stars i{
    margin-right: 5px;
    width: auto;
    height: 20px;
}


.card_avis .card-text {
    font-size: 1.2rem;
    margin-top: 10px;
    color: var(--marron);
}

.card_avis .card-subtitle {
    font-size: 1rem;
    color: var(--marron_foncé);
    margin-top: 10px;
}

/* Pour le formulaire d'ajout d'avis */
.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.stars i {
    font-size: 2rem;
    color: #FFD700; /* Gold color for stars */
    margin: 0 0.1rem;
}

.stars i.fa-solid {
    color: #FFD700;
}

.stars i.fa-regular {
    color: #CCCCCC;
}

/***** End Avis *****/
