{# Ajout de liens vers les fiches des animaux dans le tableau de bord de l'admin #}
{% for animal in field.value %}
    <a href="{{ path('admin_dashboard', {
        crudAction: 'detail',
        crudControllerFqcn: 'App\\Controller\\Admin\\Crud\\AnimauxCrudController',        
        entityId: animal.id
    }) }}">
        {{ animal.prenom }} -> voir la fiche
    </a><br>
{% endfor %}
