{% block field %}
    <div class="field-images">
        {% if field.value is not empty %}
            {% for imgHabitat in field.value %}
                <img src="{{ field.customOptions.get('basePath') ~ '/' ~ imgHabitat.imageName }}" alt="Habitat Image" style="max-width: 100%; height: auto;">
            {% endfor %}
        {% else %}
            <span>
                No images available
            </span>
        {% endif %}
    </div>
{% endblock %}
