<footer>
    <div class="container-fluid">
        <div class="row">
            {# 2 colone avec d'un coté les liens du menu et de l'autre adresse et contact du zoo avec temoin site fictif #}
            <div class="col-md-6 footer_link" id="footer_lien">
                <h4>Liens</h4>
                <ul>
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Habitats</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center" id="footer_Adresse">
              <h4>Contact</h4>
              <p>Route de Brocéliande</p>
              <p>56000 Brocéliande</p>
              <p>02 xx xx xx xx</p>
              <p>Site fictif pour examen ECF Studi</p>                
            </div>
            <div class="col-md-12 text-center" id="footer_credits">
                <p>© 2024 Zoo Arcadia - Fabien Roy - Tous droits réservés</p>
            </div>            
        </div>
    </div>
</footer>